<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathwithbros"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.mathwithbros.GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.mathwithbros.activity.MainGameActivity"
            android:label="@string/title_activity_main_game"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.mathwithbros.activity.ScoreScreenActivity"
            android:label="@string/title_activity_score_screen" >
        </activity>
        <activity
            android:name="com.mathwithbros.activity.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name="com.mathwithbros.activity.NewGameListActivity"
            android:label="@string/title_activity_new_game_list" >
        </activity>
        <activity
            android:name="com.mathwithbros.activity.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
